**/bin/*
**/obj/*
/Doznanie.Web/bin
/Doznanie.Web/obj
/Autotests/bin
/Autotests/obj
/Catalogs/Catalogs.BE/bin
/Catalogs/Catalogs.BE/obj
/Catalogs.DAL/bin
/Catalogs.DAL/obj
/CLI/SetMultipleStartupProjects/obj
/Common/BE/bin
/Common/BE/obj
/Common/BL/bin
/Common/BL/obj
/Common/DAL/bin
/Common/DAL/obj
/Common/Ext/bin
/Common/Ext/obj
/Doznanie.BE/bin
/Doznanie.BE/obj
/Doznanie.BL/bin
/Doznanie.BL/obj
/Doznanie.Common/bin
/Doznanie.Common/obj
/Doznanie.DAL/bin
/Doznanie.DAL/obj
/FiasService/bin
/FiasService/obj
/HydraService/bin
/HydraService/obj
/Ipl.BE/bin
/Ipl.BE/obj
/Ipl.BL/bin
/Ipl.BL/obj
/Ipl.DAL/bin
/Ipl.DAL/obj
/IplKafkaProducer/bin
/IplKafkaProducer/obj
/Kafka/Consumers/ExpertiseKafkaConsumer/bin
/Kafka/Consumers/ExpertiseKafkaConsumer/obj
/Kafka/Consumers/SimpleKafkaConsumer/bin
/Kafka/Consumers/SimpleKafkaConsumer/obj
/Kafka/Consumers/StartBusinessProcessConsumer/bin
/Kafka/Consumers/StartBusinessProcessConsumer/obj
/Kafka/KafkaConsumer.Core/bin
/Kafka/KafkaConsumer.Core/obj
/Kafka/KafkaConsumer.Service/bin
/Kafka/KafkaConsumer.Service/obj
/Kafka/Producers/ExpertiseKafkaProducer/bin
/Kafka/Producers/ExpertiseKafkaProducer/obj
/Kafka/SimpleKafkaProducer/bin
/Kafka/SimpleKafkaProducer/obj
/obj
/PHPForms/bin
/PHPForms/obj
/Services/AASKNDService/bin
/Services/AASKNDService/obj
/Services/CamundaService/bin
/Services/CamundaService/obj
/Services/DoznanieFileStorageService/bin
/Services/DoznanieFileStorageService/obj
/Services/ESKKService/bin
/Services/ESKKService/obj
/Services/FileStorageService/bin
/Services/FileStorageService/obj
/Services/FireCardService/bin
/Services/FireCardService/obj
/Services/FireСardService/obj
/Services/IplService/bin
/Services/IplService/obj
/Services/KafkaService/bin
/Services/KafkaService/obj
/Services/KnowledgeBaseService/bin
/Services/KnowledgeBaseService/obj
/Services/SearchIplService/bin
/Services/SearchIplService/obj
/Services/SedService/bin
/Services/SedService/obj
/Services/TemplateService/bin
/Services/TemplateService/obj
/TakeExpertiseFromDoznanie/bin
/TakeExpertiseFromDoznanie/obj
/Templates/TemplateGenerator.BE/bin
/Templates/TemplateGenerator.BE/obj
/Templates/TemplateGenerator.BL/bin
/Templates/TemplateGenerator.BL/obj
/Templates/TemplateGenerator.DAL/bin
/Templates/TemplateGenerator.DAL/obj
/Templates/TemplatesService/bin
/Templates/TemplatesService/obj
/ZForms.Web/bin
/ZForms.Web/obj
/Ipl.Web/bin
/Ipl.Web/obj
/Ipl.Web/Temp
/Ipl.Web/ClientApp/node_modules
.vs/Doznanie/config/applicationhost.config
/Catalogs/Catalogs.BL/bin
/Catalogs/Catalogs.BL/obj
/.vs
.vs/Doznanie/config/applicationhost.config
**/Ipl.Web/ClientApp/dist/*
*.pubxml
*.user
Ipl.Web/Ipl.Web.csproj.user
