<nz-layout>
  <nz-header>
    <div class="logo">
      <i *ngIf="isLoggedIn()" class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
      <a routerLink="/">
        <label>
          <img src="/assets/img/logo.png" />
          Dotes
        </label>
      </a>
    </div>
    <div class="header-content" *ngIf="isLoggedIn()">
      <div class="exit">
        <button nz-button nzType="dashed" nzGhost (click)="logout()" routerLink="/login">Log out</button>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="250px" nzTheme="light" *ngIf="isLoggedIn()" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzCollapsedWidth]="0" [nzTrigger]="null">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item routerLink="/templates" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: false}">
          <i nz-icon nzType="file-word" nzTheme="outline"></i>
          Templates
        </li>
        <li nz-menu-item routerLink="/types" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: false}">
          <i nz-icon nzType="file-search" nzTheme="outline"></i>
          Template types
        </li>
      </ul>
    </nz-sider>
    <nz-layout [ngClass]="{'inner-layout': isLoggedIn()}">
      <nz-content [ngClass]="{'logged-in-content': isLoggedIn()}">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
  <nz-footer>© {{year}} Aleksandr Toroshchin</nz-footer>
</nz-layout>
